
Data/bartosgye_ver1
Data/bartosgye_ver6
Data/challenge2
Data/Dataset
Data/icdar2003_chars
Data/icdar2003_chars_test
lightning_logs/version_0/hparams.yaml
.ipynb_checkpoints/HungarianHelper-checkpoint.ipynb
Data/Dataset.zip
